.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ECDADA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

a:visited {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  float: right;
  display: inline;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #F3F1F1;
  font-family: Gill Sans, sans-serif;
}

.head{
  background-color: #8A1076;
}
