.chat-wrapper {
  min-height: 500px;
  text-align: center;
  background-color: #161616;
}

.chat-container {
  min-height: 600px;
  width: 90%;
  display: inline-block;
}

.chat-list {
  display: inline-block;
  background-color: #433858;
  width: 30%;
  min-height: 600px;
  border-radius: 20px 0 0 20px;
  float: left;
}

.messages-container {
  display: inline-block;
  width: 70%;
  min-height: 600px;
  background-color: #FFFFFF;
  border-radius: 0 20px 20px 0;

}

.chat-list-title {
  padding: 20px;
  display: inline-block;
}

.avatar-user {
  width: 40px;
  border-radius: 50px;
  float: left;
}

.user-name {
  color: #FFFFFF;
  border: none;
}

.user-status {
  color: #4F875F;
  border: none;
}

.separator {
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-color: #3F3553;
  background-color: #493E5E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
  color: #998DB3;
}

.filter {
  background-color: #493E5E;
  border: none;
  color: #998DB3;
}

.chat-list-container {
  color: #FFFFFF;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.user {
  min-height: 42px;
  border-bottom: 3px solid;
  border-color: #3F3553;
  padding-top: 9px;
  padding-bottom: 9px;
}


.users-chatting {
  text-align: left;
  float: left;
  text-align: left;
}

.user-messages {
  color: #BCB7C7;
}

.user-block {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.user-block .avatar-user {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.active-user {
  background-color: #675B81;
}

.message-title {
  border-bottom: 3px solid;
  border-color: #E1E5EB;
  display: inline-block;
  width: 100%;
}

.partner-container {
  display: inline-block;
  padding: 20px;
  float: left;
}
.partner-container .avatar-user {
  margin-left: 10px;
  margin-right: 10px;
}

.partner-info {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.partner-name {
  color: #504E5D;
  border: none;
}

.partner-status {
  color: #4F875F;
  border: none;
}

.messages-place {
  height: 100%;
  display: block;
}

.conversation-block {
  width: 100%;
  height: 85%;
  display: block;
}

.partner-message-block {
  display: block;
  text-align: left;
  margin: 30px 30px 30px 10px;
}

.user-message-block {
  display: block;
  text-align: left;
  margin: 30px 10px 30px 30px;
}

.partner-message-block .avatar-user {
  width: 20px;
}

.user-message-block .avatar-user {
  width: 20px;
  float: right;
}

.partner-message {
  border-radius: 50px 50px 50px 5px;
  background-color: #EDEFF5;
  width: auto;
  padding: 10px;
  color: #504E5D;
  display: inline-block;
}

.user-message {
  border-radius: 50px 50px 5px 50px;
  background-color: #5275EF;
  width: auto;
  padding: 10px;
  color: #FFFFFF;
  display: inline-block;
  float: right;
}

.partner-time-block {
  font-size: 10px;
  padding-left: 40px;
  color: #B1AFB9;
}

.user-time-block {
  font-size: 10px;
  text-align: right;
  padding-right: 40px;
  color: #B1AFB9;
  clear: both;
}
