body {
  font-size: 25px;
}
.my-calendar {
  width: 30%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px #888888;
}

.calendar-day {
  font-size: 10px;
}

.today {
  background-color: bisque;
}