body {
  font-size: 25px;
}
.my-calendar {
  width: 30%;
  min-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 3px 4px 10px #807a7a;
  text-align: center;
}

.calendar-day {
  font-size: 10px;
  position: relative;
}

.today {
  background-color: bisque;
}
.wrapper-mounth {
  position: relative;
}

.button-prev, .button-next {
  cursor: pointer;
  height: 17px;
  overflow: hidden;
  position: absolute;
  width: 10px;
  top:4px;
}

.button-prev {
  left: 0;
} 

.button-next {
  right:0;
}

.button-prev:before, .button-next:before {
  background-color: black;
  content: "";
  height: 17px;
  left: 5px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}

.button-next:before {
  left: auto;
  right: 5px;
}

.button-prev:after, .button-next:after {
  background-color: white;
  content: "";
  height: 17px;
  left: 8px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}

.button-next:after {
  left: auto;
  right: 8px;
}

.no-events {
  display: none;
}

.show-events {
  position: absolute;
  top: 3px;
  right: 3px;
  border: 1px solid green;
  border-radius: 50%;
  padding: 3px;
}

.add-event {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin: 30px 20px 20px 0;
}

.btn {
  font-family: inherit;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: rgb(43, 41, 41);
  font-size: 14px;
  text-align: center;
  background: rgb(241, 207, 131);
}
  
.btn span {
  position: relative;
  top: 11px;
}

.form-add-event {
  width: 30%;
  min-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: left;
}

.input-event {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.input-event .label {
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #6e6e6e;
  margin-top: 3px;
}
.input-event .border {
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.input-event input {
  width: 100%;
  border: 0;
  margin-top: 20px;
  font-family: inherit;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
}
.input-event input:hover {
  background-color: rgba(34,50,84,0.03);
}

.input-event input:focus {
  background-color: none;
  outline: none;
}
.input-eventinput:focus + span {
  color: #07f;
  transform: translateY(-26px) scale(0.75);
}
.input-event input:focus + span + .border {
  transform: scaleX(1);
}