.card {
  box-shadow: 0px 0px 2px 1px rgba(219,219,219,1);
  text-align: center;
  padding: 10px;
  margin: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 30%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.card-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.events-list {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  grid-auto-rows: 50px;
}

#column-name {
  background-color: rgb(255, 251, 213);
  border: none;
  font-weight: bold;
  padding: 10px;
}

.events-list > div {
  border-bottom: 1px solid rgba(219,219,219,1);
}