*:focus {
  outline: none;
}

.user-list-container {
  text-align: center;
}

.sort-button-container {
  width: 80%;
  display: inline-block;
  text-align: left;
  padding: 20px;
}

.user_block {
  display: inline-block;
  width: 80%;
  text-align: left;
  border: 1px solid green;
  padding: 20px;
  color: green;
  margin-top: 10px;
  border-radius: 10px;
}

span {
  border: 1px solid black;
  padding: 4px;
  display: inline-block;
}

.age {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.role {
  color: green;
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
  margin-left: 5px;
}

.padding-container {
  display: inline-block;
  padding: 20px;
  text-align: left;
  width: 80%;
}

.page {
  cursor: pointer;
  background-color: green;
  color: white;
}

.active-page {
  cursor: pointer;
  background-color: white;
  color: green;
}

.style-error {
  color: red;
  font-size: 90%;
}

.form-create-user {
  background-color: #F5F5DC;
  width: 250px;
  padding: 45px;
  margin: 0 auto;
  border: outset 1px #DCDCDC;
}

.form-create-user h2 {
  color: #556B2F;
  font-size: 2rem;
  text-align: center;
}

.form-create-user label {
 width: 150px;
 margin-top: 3px;
 display: block;
 padding: 10px;
 border-bottom:1px solid #eee;
}

.form-create-user input {
   height: 20px;
   width: 220px;
   padding: 5px;
 }

.form-create-user button {
  color: white;
  background-color: #6B8E23;
  margin-left: 180px;
}
