$backgroundColor: rgb(0,228,201);
$backgrpundGradient: linear-gradient(312deg, rgba(0,228,201,1) 0%, rgba(28,164,230,1) 100%);
$shadow: 1px 5px 18px #b3b3b4;

.form-add-event {
    width: 30%;
    min-width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: left;
    box-shadow: $shadow;
  }
  
.input-event {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;

   .label {
    position: absolute;
    left: 0;
    font-size: 20px;
    color: #6e6e6e;
    margin-top: 3px;
  }

 .border {
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 2px;
    width: 100%;
    background: $backgroundColor;
    background: $backgrpundGradient;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.5s ease;
  }
  input {
    width: 100%;
    border: 0;
    margin-top: 20px;
    font-family: inherit;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
  }
  
  input:focus {
    background-color: none;
    outline: none;
  }

  input:focus + span + .border {
    transform: scaleX(1);
  }
}
.add-event {
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin: 30px 20px 20px 0;
}
  
.btn {
  font-family: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  background: $backgroundColor;
  background: $backgrpundGradient;
  
  span {
    position: relative;
    top: 11px;
  }
}